<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Flip's chat app</title>
</head>
<body>
    <div class="center">
        <h1 class="errorTitle">Error <%= err %></h1>
        <h2 class="errorDesc"><%= errDesc %></h2>
    </div>
</body>
</html>